{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %} " type="text/css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


  {% block head %}
  {% endblock %}
</head>

<body>
  {% block body %}

  {% if messages %}
  <!-- <strong>Messages:</strong> -->
  <div class="alert alert-primary mb-0" role="alert">
    <ul>
      {% for message in messages %}
      <li>{{message}}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <!-- Preloader -->
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>

  <!-- ##### Header Area Start ##### -->
  <header class="header-area">

    <!-- Top Header Area -->
    <div class="top-header-area">
      <div class="container-fluid h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12 col-sm-4">
            <!-- Logo Area -->
            <div class="logo-area">
              <a href="../">
                <h2 style="color:aliceblue;">StrangeFlix</h2>
              </a>
              <a href=""></a>
            </div>
          </div>
          <div class="col-12 col-sm-8">
            <!-- Top Add Area -->
            <div class="top-add-area text-right">
              <a href="#"><img src="img/bg-img/add.png" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Navbar Area -->
    <div class="videomag-main-menu" id="sticker">
      <div class="classy-nav-container breakpoint-off">
        <div class="container-fluid">
          <!-- Menu -->
          <nav class="classy-navbar justify-content-between" id="videomagNav">

            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
              <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>

            <!-- Menu -->
            <div class="classy-menu">

              <!-- Close Button -->
              <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
              </div>

              <!-- Nav Start -->
              <div class="classynav">
                <ul>
                  
                  <li><a href="#">Videos</a></li>
                  <!-- <li><a href="catagory.html">Movies</a></li> -->
                  <!-- <li><a href="contact.html"></a></li> -->
                  
                  <li><a href="#">Explore</a>
                    <div class="megamenu">
                      <ul class="single-mega cn-col-3">
                        <h5>Bollywood</h5>
                        <li><a href="catagory.html">Catagory</a></li>
                        <li><a href="video-post.html">Video Post</a></li>
                        <li><a href="single-post.html">Single Post</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="catagory.html">Catagory</a></li>
                        <li><a href="video-post.html">Video Post</a></li>
                        <li><a href="single-post.html">Single Post</a></li>
                        <li><a href="contact.html">Contact</a></li>
                      </ul>
                      <ul class="single-mega cn-col-3">
                        <h5>Hollywood</h5>
                        <!-- <li><a href="index.html">Home</a></li> -->
                        <li><a href="catagory.html">Catagory</a></li>
                        <li><a href="video-post.html">Video Post</a></li>
                        <li><a href="single-post.html">Single Post</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="catagory.html">Catagory</a></li>
                        <li><a href="video-post.html">Video Post</a></li>
                        <li><a href="single-post.html">Single Post</a></li>
                        <li><a href="contact.html">Contact</a></li>
                      </ul>
                      <ul class="single-mega cn-col-3">
                        <h5>Kids Section</h5>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="catagory.html">Catagory</a></li>
                        <li><a href="video-post.html">Video Post</a></li>
                        <li><a href="single-post.html">Single Post</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="catagory.html">Catagory</a></li>
                        <li><a href="video-post.html">Video Post</a></li>
                        <li><a href="single-post.html">Single Post</a></li>
                        <li><a href="contact.html">Contact</a></li>
                      </ul>
                    </div>
                  </li>

                  {%if user.is_staff%}
                  <li><a href="#">Upload Videos</a>
                    <!-- Anurag this content has to be dynamic for what were the latest things seen by the user -->
                    <ul class="dropdown">
                      <li><a href="/uploads/youtube/">YouTube Upload</a></li>
                      <li><a href="/uploads/device">Device Upload</a></li>
                      <li><a href="">Amazon S3</a></li>
                      <!-- <li><a href="single-post.html">Fourth Last</a></li>
                                              <li><a href="contact.html">Fifth Last</a></li> -->
                    </ul>
                  </li>
                  {% endif %}
                  <!-- Anurag, this has to be dynamic based on session of the user -->
                  {% if user.is_authenticated %}
                  <li class="active"><a href="{% url 'account_logout' %}">Log Out</a></li>
                  {% else %}
                  <li class="active"><a href="{% url 'account_login' %}">Log In</a></li>
                  <li class="active"><a href="{% url 'account_signup' %}">Sign Up</a></li>
                  {% endif %}
                </ul>
              </div>
              <!-- Nav End -->
            </div>

            <!-- Top Search Area -->
            <div class="top-search-area">
              <form action="#" method="post">
                <input type="search" name="top-search" id="topSearch" placeholder="Search">
                <button type="submit" class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
              </form>
            </div>

            <!-- Top Add Area -->
            <div>
              
              <a href="#"><i class="glyphicon glyphicon-user w3-xxlarge"></i></a>
            </div>

          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ##### Header Area End ##### -->


  <!-- <div>
      <strong>Menu:</strong>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
        {% else %}
        <li><a href="{% url 'account_login' %}">Sign In</a></li>
        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </div> -->
  {% block content %}
  {% endblock %}
  {% endblock %}
  {% block extra_body %}
  {% endblock %}

  <!-- ##### Footer Area Start ##### -->
  <footer class="footer-area section-padding-100">
    <div class="container-fluid">
      <div class="row justify-content-between">
        <!-- Footer Content -->
        <div class="col-12 col-lg-4">
          <div class="footer-content">
            <!-- Logo -->
            <a href="index.html" class="foo-logo"><img src="img/core-img/logo.png" alt=""></a>
            <p>This is our footer area</p>
            <div class="footer-social-info d-flex">
              <a href="#"><i class="fa fa-pinterest"></i></a>
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
        <!-- Footer Content -->
        <div class="col-12 col-lg-7 col-xl-6">
          <div class="footer-content d-flex flex-wrap">
            <!-- Footer Nav -->
            <div class="footer-nav">
              <h5 class="widget-title">Usefull Links</h5>
              <nav>
                <ul>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Travel</a></li>
                  <li><a href="#">Games</a></li>
                  <li><a href="#">Categories</a></li>
                  <li><a href="#">Testimonials</a></li>
                </ul>
              </nav>
            </div>

            <!-- Footer Nav -->
            <div class="footer-nav">
              <h5 class="widget-title">About Us</h5>
              <nav>
                <ul>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Jobs</a></li>
                  <li><a href="#">Terms</a></li>
                  <li><a href="#">Conditions</a></li>
                  <li><a href="#">About</a></li>
                </ul>
              </nav>
            </div>

            <!-- Video Catagory -->
            <div class="video-catagory">
              <h5 class="widget-title">Video Categories</h5>
              <ul>
                <li><a href="#"><span>Action</span> <span>20</span></a></li>
                <li><a href="#"><span>Drama</span> <span>10</span></a></li>
                <li><a href="#"><span>Adventure</span> <span>71</span></a></li>
                <li><a href="#"><span>Mystery</span> <span>15</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ##### Footer Area End ##### -->

  <!-- ##### All Javascript Script ##### -->
  <!-- jQuery-2.2.4 js -->
  <script src="{% static 'js/jquery/jquery-2.2.4.min.js'%}"></script>
  <!-- Popper js -->
  <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
  <!-- Bootstrap js -->
  <script src="{% static 'js/bootstrap/bootstrap.min.js'%}"></script>
  <!-- All Plugins js -->
  <script src="{% static 'js/plugins/plugins.js'%}"></script>
  <!-- Active js -->
  <script src="{% static 'js/active.js'%}"></script>
</body>

</html>