{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home_style.css' %} " type="text/css">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Home</title>
</head>
<body>
    <header class="header">
      <nav class="navbar navbar-style">
           
               <div class="navbar-header">
                   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-icon">
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                   </button>
                   <a href=""><img class="logo" src= alt="logo"></a>
                   <strong>CollaBRO</strong>
               </div>
               <div class="collapse navbar-collapse" id="menu-icon">
               <ul class="nav navbar-nav navbar-right">
                   <li><a href="#">Home</a></li>
                   <li><a href=>Log In</a></li>
                   <li><a href="">About</a></li>
                   <li><a href="">Contact Us</a></li>
               </ul>
            </div> 
           
      </nav>
      <img class="img-responsive banner-image" src="https://s3.amazonaws.com/siteninja/multitenant/assets/29562/files/original/facilitate-mainfeature-screens-compressor.jpg">
      <div class="container">
        <div class="jumbotron">
          <h1>GET STARTED NOW!</h1>
            <button class="btn" role="button">Sign Up as an Individual</button>
            <button class="btn">Sign Up as an Organization</button>
            
          
        </div>
        
      </div>
      <div class="container">
          <div class="row">

              <div class="col-sm-6 banner-info">
                    
              </div>

              <div class="col-sm-6">
                  <img src="" class="img-responsive banner-image" alt="image">


            </div>

          </div>
      </div>
    </header>
</body>
</html>