{% extends "base.html" %}
{% load static %}

{% block title %}
StrangeFlix
   
{% endblock %}
    
   


{% block content %}

    <!-- ##### Hero Area Start ##### -->
    <div class="hero-area d-flex flex-wrap">

        <div class="hero-single-section">
            <!-- Single Welcome Post -->
            <div class="single-welcome-post bg-img item1 wow fadeInUp" data-wow-delay="300ms"
                style="background-image: url('/static/img/bg-img/1.jpg');">
                <!-- Play Button -->
                <a href="https://www.youtube.com/watch?v=HSzx-zryEgM" class="video-play-btn"><i
                        class="fa fa-play"></i></a>
                <!-- Content -->
                <div class="welcome-post-content">
                    <!-- Single Blog Post -->
                    <div class="single-blog-post white">
                        <div class="blog-content">
                            <a href="#" class="post-tag">Featured</a>
                            <a href="#" class="post-title">Watch out Dr. Strange Trailer</a>
                            <div class="post-meta">
                                <!-- <a href="#"><img src="{% static 'img/bg-img/author.png' %}" alt=""> By James Smith</a> -->
                                <a href="#"><img src="{% static 'img/core-img/calender.png' %}" alt=""> July 23, 2016</a>
                                <a href="#"><img src="{% static 'img/core-img/chat.png' %}" alt=""> 5</a>
                                <a href="#"><img src="{% static 'img/core-img/like.png' %}" alt=""> 12k</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-single-section">
            <!-- Single Welcome Post -->
            <div class="single-welcome-post bg-img item2 wow fadeInUp" data-wow-delay="400ms"
                style="background-image: url('/static/img/bg-img/author.jpg');">
                <!-- Content -->
                <a href="https://www.youtube.com/watch?v=zS8i9KRPNyg" class="video-play-btn"><i
                    class="fa fa-play"></i></a>
                    
                <div class="welcome-post-content">
                    <!-- Single Blog Post -->
                    <div class="single-blog-post white">
                        <div class="blog-content">
                            <a href="#" class="post-tag">Featured</a>
                            <a href="#" class="post-title">All Combat Scenes</a>
                            <div class="post-meta">
                                <!-- <a href="#"><img src="{% static 'img/core-img/author.png' %}" alt=""> By James Smith</a> -->
                                <!-- <a href="#"><img src="{% static 'img/core-img/calender.png' %}" alt=""> July 23, 2018</a> -->
                                <a href="#"><img src="{% static 'img/core-img/chat.png' %}" alt=""> 5</a>
                                <a href="#"><img src="{% static 'img/core-img/like.png' %}" alt=""> 12k</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hero-second-section d-flex flex-wrap">
                <!-- Single Welcome Post -->
                <div class="single-welcome-post bg-img item3 wow fadeInUp" data-wow-delay="500ms"
                    style="background-image: url('/static/img/bg-img/3.png');">
                    <a href="https://www.youtube.com/watch?v=zS8i9KRPNyg" class="video-play-btn"><i
                        class="fa fa-play"></i></a>
                    <!-- Content -->
                    <div class="welcome-post-content">
                        <!-- Single Blog Post -->
                        <div class="single-blog-post style2 white">
                            <div class="blog-content">
                                <a href="#" class="post-tag">Featured</a>
                                <a href="#" class="post-title">Introduce Yourself to Thor</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Welcome Post -->
                <div class="single-welcome-post bg-img item4 wow fadeInUp" data-wow-delay="600ms"
                    style="background-image: url('static/img/bg-img/4.jpg');">
                    <a href="https://www.youtube.com/watch?v=6ZfuNTqbHE8" class="video-play-btn"><i
                        class="fa fa-play"></i></a>
                    <!-- Content -->
                    <div class="welcome-post-content">
                        <!-- Single Blog Post -->
                        <div class="single-blog-post style2 white">
                            <div class="blog-content">
                                <a href="#" class="post-tag">Featured</a>
                                <a href="#" class="post-title">Infinity War Trailer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- ##### Hero Area End ##### -->

   



    

{% endblock %} 
